*{
    margin: 0;
    padding: 0;
}

body{
    color:grey;
    font-family: sans-serif;
}

header{
    text-align: center;
}

p{
    margin:10px 0px;
}

span{
    background-color: gray;
    color: white;
    padding: 3px;
    border: 1px black solid;
    border-radius: 5px;
}

div{
   border: 10px green solid;
   padding: 5px;
   margin: 2%
}